# Abaikan environment virtual Python
.venv/
venv/

# Abaikan semua data hasil pengecekan dan model
models/

# Abaikan file sistem dan cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Abaikan file editor (opsional)
.vscode/
.idea/
*.sublime-workspace
